footer {

    background-color: #353535;
    padding: 25px;
    color: white;
    width: 100%;
    

}


h3 {

    padding: 5px 0 20px 0;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Shrikhand';

}


ul {

    list-style-type: none;

    padding: 0;
  
    li {

    padding: 5px 0 5px 0;
  
    a {

        color: white;

    }

    }

}
  

.fa-utensils {

    margin-right: 12px;

}


.fa-hands-helping {

    margin-right: 5px;

}

footer {

    @include tablet {

        

    }

}